* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #433c5e;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #b7b7b7;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

h1{
    display: flex;
    justify-content: center;
    color: #433c5e;
}